{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
    content %}
<!-- Main Content -->
<div class="container-fluid pt-5">
    <div class="row">
        <!-- Add the two card bodies here -->
        <div class="col-md-9">
            <div class="container mt-5">
                <h2 class="mb-4">Welcome to Staff's Dashboard</h2>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow h-100">
                            <img src="{{ url_for('static', filename='Images/fresh.jpg') }}" class="card-img-top" alt="Workshops Image" />
                            <div class="card-body">
                                <h5 class="card-title"></i>  </h5>
                                <p class="card-text"> </p>
                                <a href="/manage-products" class="btn btn-outline-primary">Monitor product stock</a>
                                <a href="/list-inquiry" class="btn btn-outline-secondary">Reply message</a>
                            </div>
                        </div>
                    </div>


                    <div class="mt-4">
                      <h3> Latest News </h3>
                      <div class="row g-4">
                     {% for news in news %}
                      <div class="col-md-6 col-lg-4">
                       <div class="card shadow h-100">
                         <div class="card-body">
                           <h5 class="card-title text-primary">
                             {{news[2]}}
                           </h5>
                           <p class="card-text"><small>Expired on {{news[5] | format_date}}</small></p>
             
                           <a
                             href="{{ url_for('viewNews', id = news[0]) }}"
                             class="btn btn-outline-primary"
                             >Details</a
                           >
                         </div>
                       </div>
                     </div>
                     {% endfor %}
             
             
             
             
                      </div>
                     </div>
                    <!-- <div class="col-md-6 col-lg-4">
                        <div class="card shadow h-100">
                            <img src="#" class="card-img-top" alt="Workshops Image" />
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-book"></i> Lesson Types</h5>
                                <p class="card-text">Create and manage lessons types to ensure clear communication about lesson offerings and make adjustments based on member feedback.</p>
                                <a href="#" class="btn btn-outline-primary">Add Lesson Types</a>
                                <a href="#" class="btn btn-outline-secondary">View/Update Lesson Types</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}