{% extends 'base.html' %} {% block title %}New Inquery{% endblock %} {% block
content %}
<div class="container mt-4">
  <h1 class="mb-4">New Inquery</h1>
  <form action="{{ url_for('add_inquiry')}}" method="post">
    <div class="row">
      <div class="col-lg-9">
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            placeholder=""
            required
          />
        </div>
        <div class="mb-3">
          <label for="inqueryMessage" class="form-label">Inquery Message</label>
          <textarea
            class="form-control"
            id="inqueryMessage"
            name="inqueryMessage"
            rows="3"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <div><button class="btn btn-primary" type="submit">Submit</button></div>
  </form>
</div>
{% endblock %}
