{% extends 'base.html' %}
{% block title %}Local Staff List{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Staff List</h1>
    <form id="searchForm" method="post" class="form-inline mb-4">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 mb-2">
                <input type="text" name="name" class="form-control" placeholder="Search by name" />
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <select name="location" class="form-select" onchange="this.form.submit();">
                    <option value="None" {{ 'selected' if location == 'None' or location is none else '' }}>All Depots</option>
                    <option value="Christchurch" {{ 'selected' if location == 'Christchurch' else '' }}>Christchurch</option>
                    <option value="Invercargill" {{ 'selected' if location == 'Invercargill' else '' }}>Invercargill</option>
                    <option value="Wellington" {{ 'selected' if location == 'Wellington' else '' }}>Wellington</option>
                    <option value="Hamilton" {{ 'selected' if location == 'Hamilton' else '' }}>Hamilton</option>
                    <option value="Auckland" {{ 'selected' if location == 'Auckland' else '' }}>Auckland</option>
                </select>
            </div>
            <div class="col-lg-auto mb-2">
                <button type="submit" class="btn btn-primary rounded-pill">Search</button>
            </div>
            <div class="col-lg-auto mb-2">
                <button type="reset" class="btn btn-secondary rounded-pill" onclick="document.getElementById('searchForm').reset();">
                    Clear
                </button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Staff Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in national_staff %}
                <tr class="{{ 'table-danger' if staff[8] == 'Inactive' else '' }}">
                    <td> {{staff[1]}} {{ staff[2]}}  </td>
                    <td>{{ staff[3] }}</td>
                    <td>{{ staff[4] }}</td>
                    <td>{{ staff[5] }}</td>
                    <td>{{ staff[6] }}</td>
                    <td>
                        <form method="POST" action="/update_status" id="status-{{staff[0]}}" onsubmit="return confirmDelete(event)">
                            <input type="hidden" name="userID" value="{{ staff[0] }}">
                            <select name="status" class="form-select" onchange="this.form.submit();">
                                <option value="Active" {% if staff[8] == 'Active' %}selected{% endif %}>Active</option>
                                <option value="Inactive" {% if staff[8] != 'Active' %}selected{% endif %}>Inactive</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        {% if staff[8] == 'Active' %}
                        <a href="/update_info/{{ staff[0] }}" class="btn btn-warning">Edit</a>
                        {% endif %}
                      </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
      

{% endblock %}
